<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandawork.home.mapper.check.AbilityPositionMapper">

    <insert id="addPosition">
        INSERT INTO t_ability_position(
          did,target_id,weight,test_id
        )VALUES (
        #{abilityPosition.did},
        #{abilityPosition.targetId},
        #{abilityPosition.weight},
        #{abilityPosition.testId}
        )
    </insert>

    <update id="delPosition">
        UPDATE t_ability_position SET is_available = #{abilityPosition.isAvailable} WHERE id = #{abilityPosition.id}
    </update>

    <update id="updatePosition">
         UPDATE t_ability_position SET
         did = #{abilityPosition.did},
         target_id = #{abilityPosition.targetId},
         weight = #{abilityPosition.weight}
         WHERE id = #{abilityPosition.id}
    </update>

    <select id="queryByDid" resultMap="pw.AbilityPosition">
        SELECT * FROM t_ability_position WHERE did = #{did}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT (1) FROM t_ability_position
    </select>

    <select id="queryByTestId" resultMap="pw.AbilityPosition">
        SELECT * FROM t_ability_position WHERE testId = #{testId}
    </select>
</mapper>