<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.home.mapper.query.YearQueaterMapper">
    <select id="listAll" resultType="YearQueaterExportDto">
        SELECT
        tjt.id AS id,
        (SELECT tu.username FROM t_user tu WHERE tu.id = tjt.uid)AS username,
        (SELECT tu.real_name FROM t_user tu WHERE tu.id = tjt.uid)AS realName,
        (SELECT tr.name FROM t_role tr WHERE tr.id = (SELECT tu.rid FROM t_user tu WHERE tu.id = tjt.uid)) AS role,
        (SELECT td.name FROM t_department td WHERE td.id = (SELECT tu.rid FROM t_user tu WHERE tu.id = tjt.uid)) AS department,
        (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AS year,
        (SELECT twp.queater_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.queater = 1)AS month1,
        (SELECT twp.queater_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.queater = 2)AS month2,
        (SELECT twp.queater_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.queater = 3)AS month3,
        (SELECT twp.queater_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.queater = 4)AS month4,
        (SELECT tp.summary_score FROM t_performance tp WHERE tp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id))AS summaryScore,
        (SELECT tp.year_score FROM t_performance tp WHERE tp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id))AS yearScore,
        (SELECT ttp.test_type_id FROM t_test_plan ttp WHERE ttp.id = tjt.test_id)AS testType
        FROM t_join_test tjt
    </select>
</mapper>