<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.home.mapper.query.YearMonthMapper">
    <select id="listAll" resultType="YearMonthExportDto">
        SELECT
        tjt.id AS id,
        (SELECT tu.username FROM t_user tu WHERE tu.id = tjt.uid)AS username,
        (SELECT tu.real_name FROM t_user tu WHERE tu.id = tjt.uid)AS realName,
        (SELECT tr.name FROM t_role tr WHERE tr.id = (SELECT tu.rid FROM t_user tu WHERE tu.id = tjt.uid)) AS role,
        (SELECT td.name FROM t_department td WHERE td.id = (SELECT tu.rid FROM t_user tu WHERE tu.id = tjt.uid)) AS department,
        (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AS year,
        (SELECT twp.month_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.month = 1)AS month1,
        (SELECT twp.month_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.month = 2)AS month2,
        (SELECT twp.month_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.month = 3)AS month3,
        (SELECT twp.month_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.month = 4)AS month4,
        (SELECT twp.month_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.month = 5)AS month5,
        (SELECT twp.month_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.month = 6)AS month6,
        (SELECT twp.month_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.month = 7)AS month7,
        (SELECT twp.month_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.month = 8)AS month8,
        (SELECT twp.month_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.month = 9)AS month9,
        (SELECT twp.month_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.month = 10)AS month10,
        (SELECT twp.month_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.month = 11)AS month11,
        (SELECT twp.month_score FROM t_work_plan twp WHERE twp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id) AND twp.month = 12)AS month12,
        (SELECT tp.summary_score FROM t_performance tp WHERE tp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id))AS summaryScore,
        (SELECT tp.year_score FROM t_performance tp WHERE tp.year = (SELECT ttp.year FROM t_test_plan ttp WHERE ttp.id = tjt.test_id))AS yearScore
        FROM t_join_test tjt
--         WHERE (SELECT test_type_id FROM t_test_plan WHERE ttp.id = tjt.test_id) = 2
    </select>
</mapper>